$lght-background: #caf8d1;
$light-nav-background: #1d912e;
$dark-background: #001a2b;
$light-nav-background: #91ffa2;



.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border-radius: 6px;
    height: 225px;
    padding: 10px;
    margin: 0 15px 30px 15px;
    background-color: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
}
.card img{
    height: 150px;
    width: 247px;
    border-radius: 6px;
    transition: transform .35s ease;
}
.card img:hover{
    transform: scale(1.05);

}

.titlebody{
    height: 20px;
    width: 240px;
    overflow: hidden;
    margin-bottom: 10px;

}

.title{
    font-size: 16px;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
    cursor: pointer;
    overflow: hidden;

}
.title:hover{
    color: #91ffa2 ;
    text-decoration: underline ;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* For tablets and smaller screens */
@media (max-width: 1024px) {
    .card {
        width: calc(33.333%); /* 3 cards per row */
        height: auto; /* Adjust height */
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    
}

/* For very small devices (phones) */
@media (max-width: 480px) {
    .card {
        width: fit-content; /* 1 card per row (full width) */
        height: auto;
    }

    #image img{
        width: calc(100%);
    }
}


