body{
    background-color: #001a2b;
}

/* Banner */
#parent-div{
    background-image: url(/tree-276014.jpg);
    background-size: cover;
    background-position: center; 
    height: 200px; 
    width: 100%;
}
#img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    width: 100%;
    background: rgba(0, 0, 0, 0.5);  
}

#banner{
    color: white;
    margin-bottom: 0px;
    height: 200px;

}

/* Featured Card */

.featured-card{
    display: flex;
    background-color: white;
    margin:30px auto auto auto;
    width: 70vw;
    height: 340px;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
}

.img-container{
    border-radius: 6px;
    height: 320px; 
    overflow: hidden; 
}
.featured-card img{
    border-radius: 6px;
    height: 320px;
    transition: transform .35s ease;
}

.featured-card img:hover{
    transform: scale(1.05);

}

.post-info{
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow:hidden;
}

.post-title{
    font-weight: bold;
    font-size: 30px;
    text-align: start;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.post-title:hover{
    color: #006810 ;
}

.post-details{
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#user-name,#date{
    margin-bottom: 0px;
    margin: 0 6px 0 6px ;
    font-size: 13px;
    color: #AAAAAA;
}

.icons{
    height: 11px;
    color: #AAAAAA;
}

.post-content{
    margin-top: 10px;
}

.recentpost{
    margin:30px auto 30px auto;
    width: 70vw;
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    background-color: #91ffa2 ;
}

#recent{
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.cards{
    width: 70vw;
    margin:30px auto 30px auto;
}

/* For tablets and smaller screens */
@media (max-width: 1024px) {
    
}

/* For mobile devices */
@media (max-width: 768px) {
    

}

/* For very small devices (phones) */
@media (max-width: 480px) {
    .recentpost {
        width: calc(90%); 
    }

    /* Featured-card */

    .featured-card {
        flex-direction: column;
        width: 95vw;
        height: fit-content;
    }

    .img-container{
        height: calc(100%);
    }

    .img-container img{
        width: calc(100%);
        height: calc(100%);
    }

    /* .post-title{
        font-size: 18px;
    }

    .post-content{
        font-size: 14px;
    } */
    
    #user-name, #date{
        font-size: 10px;
    }

    .post-info{
        margin: 5px 10px 10px 10px;
    }



}