@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Koulen&display=swap');

*{
    margin: 0;
    padding: 0;
}
.nav{
    width: 70vw;
    display: flex;
    margin: auto;
}


.first-nav {
    display: flex;
    height: 70px;
    margin: auto;
    color: white;
    width: 70vx;
    background-color: #001a2b;
    font-weight: 500;
    font-size: 15px;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
}

#title{
  margin-bottom: 0px;
  font-size: larger;
}

#logo {
    height: 52px;
    margin-right: 1em;
}


#search{
    background-color: #91ffa2;
    height: 70px;
    width: 58px;
    margin-right: 47px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoname{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.icon {
    font-size: 20px;
    cursor: pointer;
}

#btn-search {
    color: #000000;
    font-size: 20px;
    
}

.sec-nav {
    background-color: #91ffa2 !important;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
}

.list{
    padding-left: 0px;
    margin: 0px;
}

.list-items{
    list-style-type: none ;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.items{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    transition: all ease-in-out 0.3s;
}

.items:hover{
    transform: translateY(-5px);
}

.links{
    margin-right: auto;
    display: inline;
}


@media (max-width: 480px) {
    .nav{
        width: 90vw;
    }

    #links{
        padding-left: 10px;
    }

    .list-items{
        height: fit-content;
        padding: 2px 5px;
    }

    .items{
        font-size: 12px;
    }

    #search{
        margin: 0;
    }

    .icon{
        font-size: 15px;
    }
}








