@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Koulen&display=swap');
$lght-background: #caf8d1;
$light-nav-background: #1d912e;
$dark-background: #001a2b;
$light-nav-background: #91ffa2;

* {
    margin: 0;
    padding: 0;
}

.nav {
    width: 70vw;
    display: flex;
    margin: auto;
    align-items: center;
}


.first-nav {
    display: flex;
    height: 70px;
    margin: auto;
    color: #001a2b;
    width: 70vx;
    background-color: #caf8d1;
    font-weight: 500;
    font-size: 15px;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
}

#title {
    margin-bottom: 0px;
    font-size: larger;
}

#logo {
    height: 52px;
}


#search {

    height: 70px;
    width: fit-content;
    margin-right: 47px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoname {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.icon {
    font-size: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.icon:hover{
    transform: translateY(-5px);
}

#btn-search {
    color: $dark-background;
    font-size: 20px;

}

.sec-nav {
    background-color: #1d912e;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    transition: all ease-in-out 0.3s;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.sec-nav:hover {
    border: 1px solid white;
    transform: scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);

}

.list {
    padding-left: 0px;
    margin: 0px;
}

.list-items {
    list-style-type: none;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.items {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    transition: all ease-in-out 0.3s;
}

.items:hover {
    transform: translateY(-5px);
}

.links {
    margin-right: auto;
    display: inline;
}

/*Side nav button*/


.bars {
    display: none;
    height: 3px;
    width: 19px;
    background-color: $dark-background;
    margin-bottom: 3px;
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
}



@media (max-width: 480px) {
    .nav {
        width: 90vw;
    }

    .bars {
        display: block;
    }

    #title {
        display: none;
    }

    #links {
        padding-left: 10px;
    }

    #logoname {
        margin: auto;
    }

    .list-items {
        height: fit-content;
        padding: 2px 5px;
    }

    .items {
        font-size: 12px;
    }

    #search {
        margin: 0;
    }

    .icon {
        font-size: 15px;
    }

    .sec-nav {
        display: none;
    }

}